@media (max-width: 781px) {
    .is-hero-block h1, .is-hero-block h2 {
        padding: 0 1rem;
    }

    .header-mdot {
        display:none;
    }

    .header-break {
        display:block;
    }
}

header .header-2 {
    filter: drop-shadow(1px 1px 2px #000000);
    z-index: 100;
}

main {
    margin-top: 0 !important;
}

#gform_submit_button_1 {
    font-size: 24px;
    padding: .9em 2;
    border-radius: 30px;
}

footer {
    margin-top: 0;
}

.huron-logo {
    max-width: 100px;
}

body.page-id-357 .global-cta {
    display: none;
}

.drop-shadow {
    filter: drop-shadow(rgb(0, 0, 0) 1px 1px 2px);
}

.gfield_description {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.gfield-choice-input {
    margin-top: 0.25rem !important;
}

.gfield_checkbox > div {
    padding-bottom: 0.5rem !important;
}

.gfield_checkbox label {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.is-glow {
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000;
}

.has-84em-background {
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.is-rounded {
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0px;
    border: 0px solid #333;
}

.wp-block-navigation__responsive-container-close svg, .wp-block-navigation__responsive-container-open svg {
    height: 48px !important;
    width: 48px !important;
}

.is-style-checkmark-list li {
    padding-bottom: 1rem;
}

main a:not(.wp-element-button,.wp-block-button__link) {
    color: var(--wp--preset--color--custom-color-1)!important;
}

main a:hover:not(.wp-element-button,.wp-block-button__link) {
    color: var(--wp--preset--color--contrast-2)!important;
}

.wp-block-list:not(.is-style-checkmark-list) {
    padding-left: 2em;
}

@media (max-width: 781px) {
    body .uag-hide-mob.uagb-google-map__wrap, body .uag-hide-mob {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .wp-block-navigation ul, .wp-block-navigation ul li {
        padding-bottom: 1rem !important;
    }

    .wp-block-navigation .wp-block-navigation-item__label {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 768px) {
    .wp-block-navigation .wp-block-navigation-item__label {
        font-size: 1.5rem !important;
    }
}
